pkgbase = limitcue-bin
	pkgdesc = Always-on-top quota pill for AI coding plans (prebuilt)
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/San-77x/limitcue
	arch = x86_64
	license = MIT
	depends = glibc
	depends = gcc-libs
	depends = libxcb
	depends = libxkbcommon
	depends = wayland
	provides = limitcue
	conflicts = limitcue
	source = limitcue-bin-0.1.1.tar.gz::https://github.com/San-77x/limitcue/releases/download/v0.1.1/limitcue-linux-x86_64.tar.gz
	sha256sums = ddb2a7d1701c3ac75523dc738cd80df268807a2dddaba966cf25eabbb83c18ee

pkgname = limitcue-bin
